@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@500&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

// FONT
.montserrat-bold{ //per titoli e bottoni
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal
}
.poppins-medium{ //per sottotitoli
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}
.roboto-regular{ //per testi
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}



// PALETTE COLORI
.bg-general{
    background-color: #F3F4F6;
}

.dark-grey{ //per titoli
    color: #1F2937;
}
.steel-blue{ //per sottotitoli  
    color: #3B82F6 !important;
}
.medium-grey{ //per testi
    color: #4B5563 !important;
}
.bg-steel-blue{ //background per bottoni, testo bianco
    background-color: #3B82F6;
}
.bg-mint-green{ //background per hover bottoni, testo bianco
    background-color: #10B981;
}
.bg-light-grey{ //background generale
    background-color: #F3F4F6;
}
.bg-light-blue{ //background sezioni particolari
    background-color: #EFF6FF;
}

.text-shadow-blue{
    text-shadow: 2px 2px 2px #3b83f63f;
}
.text-shadow-grey{
    text-shadow: 2px 2px 2px #1f29376f;
}
.text-shadow-white{
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.303);
}







.m-25{
    margin-left: 25%;
}


.employee-img {
    width: 50px; 
    height: 50px;
    object-fit: cover; 
    border-radius: 50%;
    display: block;
    margin: 0 auto; 
}
td, th {
    text-align: center; 
    vertical-align: middle; 
}

// FILE EMPLOYEE INDEX
.btn-add-employee{
    background-color: #3B82F6;
    color: white;
    height: 30px;
    border-radius: 7px;
    font-size: 15px;
    padding: 2px 10px;
    box-shadow: 3px 3px 3px #3b83f63f;

    &:hover{
        background-color: #10B981;
    }
    &:active{
        background-color: #0d9a6b;
        box-shadow: 4px 4px 4px #3b83f63f;
        scale: 0.98;
    }
}



.btn-tools-index{
    background-color: #3B82F6;
    color: white;
    width: 30px; 
    height: 30px;
    border-radius: 7px;
    font-size: 15px;
    box-shadow: 3px 3px 3px #3b83f63f;

    &:hover{
        background-color: #10B981;
    }
    &:active{
        background-color: #0d9a6b;
        box-shadow: 4px 4px 4px #3b83f63f;
        scale: 0.98;
    }
}

// FILE EMPLOYEE SHOW
.show-employee-img {
    width: 200px; 
    height: 200px;
    object-fit: cover; 
    border-radius: 50%;
    display: block;
    box-shadow: 8px 8px 8px #3b83f63f;
}
.btn-tools{
    background-color: #3B82F6;
    color: white;
    width: 50px; 
    height: 50px;
    border-radius: 10px;
    font-size: 22px;
    box-shadow: 3px 3px 3px #3b83f63f;

    &:hover{
        background-color: #10B981;
    }
}
.btn-tools:active{
    background-color: #0d9a6b;
    scale: 0.98;
    box-shadow: 4px 4px 4px #3b83f63f;
}
.btn-info-payroll{
    bottom: 95%;
    right: 10%;
    color: #3B82F6;
    text-shadow: 1px 1px 1px #3b83f63f;
    font-size: 20px;
    &:hover{
        color: #10B981;
    } 
}
.btn-info:active{
    color: #0d9a6b;
    text-shadow: 3px 3px 3px #3b83f63f; 
}
.fa-circle-info:active{
    scale: 0.95;
}
// modale show payrolls
.modal-dialog{
    min-width: 70%;   
}

.logo-container {
    height: 120px;
    width: 100%;
}

.logo-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 50%; 
    display: inline-flex;
    
}
.btn-close{
    margin-left: 0px !important;
    right: 2%;
    top: 2%;
}
.modal-title{
    display: inline;
    vertical-align: middle;
    text-transform: uppercase;
}
.table-50 > tr > td{
    width: 50%;
}

hr{
    color: #989b9d;
}


//navbar
.list-navbar > li > a{
    color: white;
    font-weight: bold;  
    font-size: 17px;
    transition: text-shadow 0.5s;
   &:hover{
        transition: text-shadow 0.5s;
        text-shadow: 4px 4px 4px #1f2937b6;
    }
}
.list-navbar > li{
    transition: scale 0.5s;
    transform-origin: 30%;
    scale: 1;
}
.list-navbar > li:hover{
    transition: scale 0.5s;
    scale: 1.05;
}
.logo-navbar{
    width: 40%; /* Dimensione della cornice */
    height: 40%; /* Deve essere uguale alla larghezza per il cerchio */
    border-radius: 50%; /* Rende la cornice circolare */
    overflow: hidden; /* Assicura che l'immagine rimanga all'interno del cerchio */
    display: flex; /* Centra l'immagine */
    justify-content: center; /* Allinea orizzontalmente l'immagine */
    align-items: center; /* Allinea verticalmente l'immagine */
    box-shadow: 5px 5px 5px #1f29376f;
}
.logo-navbar img {
    width: 100%; /* L'immagine occupa tutto lo spazio disponibile */
    height: 100%; /* Si adatta alla cornice */
    object-fit: cover; /* Evita distorsioni */
}

// dashboard

.font-title-dashboard{
    font-size: 50px;
}

.btn-add-dashboard{
    background-color: white;
    color: #3B82F6;
    height: 30px;
    border-radius: 7px;
    font-size: 15px;
    padding: 2px 10px;
    box-shadow: 3px 3px 3px #3b83f63f;

    &:hover{
        background-color: #10B981;
        color: white;
    }
    &:active{
        background-color: #0d9a6b;
        box-shadow: 4px 4px 4px #3b83f63f;
        scale: 0.98;
    }
}

.btn-list-dashboard{
    background-color: #3B82F6;  
    border-radius: 30px; 
    text-align: center; 
    display: inline-block;
    width: 90%;
    box-shadow: 5px 5px 5px #3b83f63f;
    transition: scale 0.6s;


    &:hover{
        background-color: #10B981;
        transition: scale 0.6s;
        scale: 1.03;
        transform-origin:center;
        

        
    }
    
    &:active{
        background-color: #0d9a6b;
        box-shadow: 3px 3px 3px #3b83f63f;
        scale: 1.02;
    }
}
.icon-users{
    font-size: 13rem;
    color: white;
    transition: scale 0.5s;

}
.h1-btn-dashboard{
    font-size: 40px;
    font-weight: bold;
    transition: scale 0.5s;

}
.logo-payslipflow-dashboard{
    width: 20%;
    opacity: 0.4;
    bottom: 2%;
    left: calc(50% - 10%);
    
}
.logo-payslipflow-navbar{
    width: 50%;

}

// edit profile

.btn-edit-profile{
    
    background-color: #3B82F6;
    color: white;
    padding: 0px 10px; 
    height: 30px;
    border-radius: 7px;
    font-size: 15px;
    box-shadow: 3px 3px 3px #3b83f63f;

    &:hover{
        background-color: #10B981;
    }
    &:active{
        background-color: #0d9a6b;
        box-shadow: 4px 4px 4px #3b83f63f;
        scale: 0.98;
    }
}

