@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@500&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

// FONT
.montserrat-bold{ //per titoli e bottoni
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal
}
.poppins-medium{ //per sottotitoli
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}
.roboto-regular{ //per testi
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}



// PALETTE COLORI
.bg-general{
    background-color: #F3F4F6;
}
.dark-grey{ //per titoli
    color: #1F2937;
}
.steel-blue{ //per sottotitoli  
    color: #3B82F6;
}
.medium-grey{ //per testi
    color: #4B5563;
}
.bg-steel-blue{ //background per bottoni, testo bianco
    background-color: #3B82F6;
}
.bg-mint-green{ //background per hover bottoni, testo bianco
    background-color: #10B981;
}
.bg-light-grey{ //background generale
    background-color: #F3F4F6;
}
.bg-light-blu{ //background sezioni particolari
    background-color: #EFF6FF;
}

.m-25{
    margin-left: 25%;
}


.employee-img {
    width: 50px; 
    height: 50px;
    object-fit: cover; 
    border-radius: 50%;
    display: block;
    margin: 0 auto; 
}
td, th {
    text-align: center; 
    vertical-align: middle; 
}


// FILE EMPLOYEE SHOW
.show-employee-img {
    width: 200px; 
    height: 200px;
    object-fit: cover; 
    border-radius: 50%;
    display: block;
    box-shadow: 8px 8px 8px #3b83f63f;
}
// modale show payrolls
.modal-dialog{
    min-width: 70%;    
}

.logo-container {
    height: 120px;
    width: 100%;
}

.logo-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 50%; 
    display: inline-flex;
    
}
.btn-close{
    margin-left: 0px !important;
    right: 2%;
    top: 2%;
}
.modal-title{
    display: inline;
    vertical-align: middle;
    text-transform: uppercase;
}
.table-50 > tr > td{
    width: 50%;
}

hr{
    color: #989b9d;
}
